[Unit]
Description=Kresus
After=syslog.target network.target

[Service]
WorkingDirectory=YNH_HOME
Environment=NODE_ENV=production HOME=YNH_HOME
ExecStart=/usr/local/bin/kresus
Type=simple
Restart=always

StandardOutput=journal
StandardError=inherit
SyslogIdentifier=kresus

[Install]
WantedBy=multi-user.target
