[Unit]
Description=__APP__: personal finance manager
After=syslog.target network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
Environment="__YNH_NODE_LOAD_PATH__"
Environment=NODE_ENV=production
ExecStart=__INSTALL_DIR__/bin/kresus.js --config __INSTALL_DIR__/config.ini
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__
# /var/log is implied
LogsDirectory=__APP__

#Not compatible with NodeJS
#MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
# PrivateUsers=yes does not work on Debian 11
PrivateUsers=false
ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
ProtectControlGroups=yes
# See https://github.com/systemd/systemd/issues/7153
ProtectHome=false
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
ProtectSystem=strict
RestrictSUIDSGID=yes
#SecureBits=noroot-locked
SystemCallArchitectures=native
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap
SystemCallErrorNumber=EPERM
ReadWritePaths=__DATA_DIR__

AmbientCapabilities=
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
